appdirs==1.4.3
astor==0.8.0
beautifulsoup4==4.8.0
blis==0.4.1
bs4==0.0.1
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
ChromeController==0.3.10
chromote==0.4.0
colorthief==0.2.1
cssselect==1.1.0
cymem==2.0.2
docopt==0.6.2
en-core-web-sm==2.2.0
euclid3==0.1
fake-useragent==0.1.11
idna==2.8
lxml==4.4.1
murmurhash==1.0.2
numpy==1.22.0
opencv-python==4.1.1.26
OpenPySCAD==0.3.2
parse==1.12.1
Pillow==6.2.1
plac==0.9.6
preshed==3.0.2
prettytable==0.7.2
pyee==6.0.0
pypng==0.0.19
pyppeteer==0.0.25
pyquery==1.4.0
regex==2019.11.1
requests==2.22.0
requests-html==0.10.0
selenium==3.141.0
Shapely==1.6.4.post2
six==1.12.0
solidpython==0.4.4
soupsieve==1.9.4
spacy==2.2.1
srsly==0.1.0
thinc==7.1.1
tqdm==4.36.1
urllib3==1.25.6
w3lib==1.21.0
wasabi==0.3.0
websocket-client==0.56.0
websockets==8.0.2
