* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 16px arial;
  background-color: #eee;
  height: 100%;
}

h1, h2, h3 {
  margin-top: 0;
}

.container {
  /* max-width: 1100px; */
  /* margin: auto; */
  /* margin-top: 0px; */
  position: relative;
  z-index: 1;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  height: 100%;
  align-items: top;
  /* justify-content: center; */
}

#logo {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

#total-price {
  font-size: 40px;
  margin: 0;
}

#total-price span {
  font-size: 0.5em;
}

.meta {
  font-size: 20px;
}

#image-app-container {
  /* height: 600px; */
  display: flex;
  width: 100%;
}

#image-app {
  width: 100%;
}

.image-app {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

.image-app img {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.image-app .images-holder {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.image-cats-holder {
  display: flex;
  justify-content: space-between;
}

.image-nav {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.image-nav span {
  background-color: #eee;
  color: #000;
  padding: 5px;
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}

.image-nav:hover span {
  background-color: #000;
  color: #fff;
  padding: 5px;
  margin: 5px;
}

select {
  background-color: #fff;
  border: 1px solid #000;
  font-size: 16px;
  text-transform: capitalize;
}

section {
  min-width: 42vw;
  flex: 1;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  /* border-right: 1px solid #000; */
  background-color: #fff;
  margin: 0px 10px;
}

#agent-list {
  margin-top: 10px;
}

#contact-app button {
  font-size: 20px;
}

#agent-list a {
  float: left;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 3px;
  font-size: 12px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
}

#agent-list a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}

.inner-section {
  /* margin-bottom: 20px; */
}

.inner-section img {
  width: 100%;
  display: block;
}

.has-bg {
  /* padding: 10px; */
  /* background-color: #fff; */
}

#neighborhoods {
  font-size: 12px;
}

video {
  width: 100%;
  display: block;
  margin-bottom: 20px;
}

#features-list {
  font-size: 13px;
  column-count: 2;
}

#modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.85);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px;
  z-index: 999;
  flex-direction: column;
  display: none;
  color: #fff;
}

#modal h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal;
}

#close-modal {
  color: #fff;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
  margin-bottom: 10px;
}

[v-cloak] {
  display: none;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 40%; /* Full-width */
  height: 25px; /* Specified height */
  background: #fe42ad; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ff6437; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #ff6437; /* Green background */
  cursor: pointer; /* Cursor on hover */
}
